
.post{
  box-shadow: 0px 1px 1px #dfdfdf;
  padding: 10px;
  overflow: hidden;
}
.post-title {
  padding: 3px 10px;
  font-size: x-large;
  text-align: center;
  color: #8C949D;
  margin: 10px;
}
.post-body {
  font-size: 15px !important;
  font-weight: 600;
}
.post-body div:hover{
  color: #000;
}
.post-body img{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(48, 171, 213);
}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{
  padding: 10px;
  color: #8C949D;
}
.post-body pre{
  background: #f8f8f8;
  padding: 12px;
  direction: ltr;
  text-align: left;
  line-height: 1.5em;
  max-height: 200px;
  text-shadow: 0px 1px 0px #ffffff;
  overflow: auto;
  font-size: 13px;
  font-family: Courier !important;
  font-weight: normal;
}
.post-body button{
  padding: 10px 25px;
  border: 0;
  background-color: #30ABD5;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.post-body button:hover{
  background-color: #0099cc;
  cursor: pointer;
}
blockquote {
  margin-left: 0;
  font-style: italic;
  position: relative;
  font-size: 14px;
  padding: 0px;
  padding-left: 60px;
  margin: 40px 0px;
  border: 0px;
  font-weight: 400;
  color: #000;
}
blockquote:before {
  font-family: FontAwesome;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  content: &quot;\f10d&quot;;
  color: #fff;
  background: #b8bdc3;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.post-timestamp , .post-labels{
  float: right;
  display: inline-block;
  background-color: #30ABD5;
  padding: 10px;
  width: 97%;
  color: #fff !important;
}
.post-timestamp a, .post-labels a{
  color: #fff !important;
}
